
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Bootstrap for styling and grid -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        
    <!-- Using vue via CDN for simplicity -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Axios for ajax calls to PHP backend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>

    <!-- Font awesome used for icons over svgs -->
    <script src="https://kit.fontawesome.com/c42b95b184.js" crossorigin="anonymous"></script>

    <script src="src/main.js"></script>

		<title>Mighty Tasks</title>
  </head>
<body>
  <section class="body-content">
    <div id="app">
      <section class="header-section">
        <div class="header">
          <h1>Mighty Tasks</h1>
        </div>
      </section>
      <section class="task-section">
        <div class="task-container container">
          <div class="task-form-container">
            <form v-on:submit.prevent="validateTaskInput" id="taskForm">
              <div class="form-group">
                <label for="task-input" class="form-head">ADD A NEW TASK</label> 
                <input v-model="task.task_name" type="text" class="form-control form-control-lg form-text-input" id="task-input" placeholder="What do you need to do?" maxlength="40">
              </div>
              <div class="form-error text-danger"></div>
              <div class="form-group text-right">
                <button type="submit" class="btn btn-primary form-btn" id="addproduct">Add Task</button>
              </div>
            </form>
          </div>
          <div class="task-list row justify-content-md-center">
            <label for="task-list" class="form-head col-sm-12">Current tasks</label>
            <ul class="list-group col-sm-12" id="task-list">
               <li class="task-list-item" v-for="(item, index) in allData" :key="index" v-bind:id="item.id">
                <label class="radio-container">
                  <input @click="testIfChecked" type="checkbox" class="radio-input">
                  <span class="radio-custom"></span>
                </label>
                <p class="task-text">{{ item.task_name }}</p>
                <i @click="deleteTask" class="fas fa-times"></i> 
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </section>

</body>
</html>