
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
            
        <!-- Using vue via CDN for simplicity -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
        <script src="src/main.js"></script>
		<title>TODO List Application</title>
    </head>
<body id="app">
<!-- 
  <div id="pageContainer" class="container"></div> -->
     <!-- Loop through toDoItems array -->
    <!-- <ul id="todoList" class="list-group" v-for="(item, index) in allData" :key="index">
 
      <li class="list-group-item" v-for="(el, key) in item" :key="key">{{key}}: {{ el }}</li>
		</ul> -->
    <!-- <ul id="todoList" class="list-group">
      <li class="list-group-item" v-for="(item, index) in allData" :key="index">
        <p v-for="(el, key) in item" :key="key">{{key}}: {{ el }}</p>
      </li>
		</ul>
    <form v-on:submit.prevent="greet" class="row">
		  <div class="col-md-10">
			<input v-model="task.name" type="text" class="form-control" id="product" placeholder="Insert items...">
		  </div>
		  <div class="col-md-2">
			<button type="submit" class="btn btn-primary" id="addproduct">Add</button>
		  </div>
    </form> -->

</body>
</html>