
$container-bg-color: #FFF;
$green : #34D399;
$container-shadow: 2px 2px 4px 0px  rgba(0, 0, 0, 0.15);


$font-main : Fira Sans, sans-serif;
$font-title : bold;
$font-2nd : italic;

body {
  background-color : #1F2937;
  font-family : $font-main;

}

.header {
  background-color : #111827;
  padding : 1rem 0 1rem 0;
  text-align : center;
  border-bottom: 4px solid $green;
  h1 {
    font-size : 48px;
    font-weight : 550;
    margin : 0;
    color : white;
  }
}

.task-container {
  margin-top : 4rem;
  
}

#pageContainer {
            max-width : 700px;
            background-color : $container-bg-color;
            padding : 15px 15px 25px 25px;
            margin-top : 10px;
            box-shadow : $container-shadow;
            
              button {
                  cursor : pointer;
                  background-color : $green;
                  color : FCFCFC;
                  border : none;
            }
}

#todoList {
  list-style : none;
  padding : 0px 0px 0px 0px;
  font-size : 18px;
}

.handle {
  margin-right : 10px;
}
