$body-bg-color: #ECECEC;
$container-bg-color: #FFF;
$green : #336D41;
$container-shadow: 2px 2px 4px 0px  rgba(0, 0, 0, 0.15);


body {
  background-color : $body-bg-color;
}

#pageContainer {
            max-width : 700px;
            background-color : $container-bg-color;
            padding : 15px 15px 25px 25px;
            margin-top : 10px;
            box-shadow : $container-shadow;
            
              button {
                  cursor : pointer;
                  background-color : $green;
                  color : FCFCFC;
                  border : none;
            }
}

#todoList {
  list-style : none;
  padding : 0px 0px 0px 0px;
  font-size : 18px;
}

.handle {
  margin-right : 10px;
}
