/* Mixins for reusable elements should the application be extended */
/* --- Body & Header Styling --- */
body {
  background-color: #1F2937;
  font-family: Fira Sans, sans-serif; }

.header {
  background-color: #111827;
  padding: 1rem 0 1rem 0;
  text-align: center;
  border-bottom: 4px solid #34D399; }
  .header h1 {
    font-size: 48px;
    font-weight: 550;
    margin: 0;
    color: white; }

/* --- Task Input form styling --- */
.task-container {
  margin-top: 4rem;
  font-weight: bold; }

#todoList {
  list-style: none;
  padding: 0px 0px 0px 0px;
  font-size: 18px; }

.form-head {
  color: #9CA3AF;
  font-size: 18px;
  padding: 0; }

.form-text-input {
  background-color: #374151;
  color: white;
  font-size: 24px;
  font-weight: 500;
  border: none;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 15px; }
  .form-text-input:focus {
    box-shadow: 0 0 0 0.2rem #34D399; }
  .form-text-input:focus {
    background-color: #374151;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border: none; }
    .form-text-input:focus:focus {
      box-shadow: 0 0 0 0.2rem #34D399; }

.form-error {
  font-size: 20px; }

.form-btn {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 24px;
  background-color: #34D399;
  border: none;
  border-radius: 15px;
  padding: .3rem 3rem .3rem 3rem;
  color: white;
  font-weight: 600; }
  .form-btn:hover {
    background-color: #2beba5 !important; }
  .form-btn:active {
    background-color: #2beba5 !important; }
  .form-btn:focus {
    background-color: #34D399 !important; }

.handle {
  margin-right: 10px; }

/* --- Custom Radio Button Styling --- */
.radio-container {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px; }
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .radio-container:hover input ~ .radio-custom {
    background-color: #34D399; }
  .radio-container input:checked ~ .radio-custom {
    background-color: #34D399; }
  .radio-container .radio-custom:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #374151; }

.radio-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #374151;
  border-radius: 50%;
  border: solid 3px #34D399; }
  .radio-custom:after {
    content: "";
    position: absolute;
    display: none; }

/* --- Task list styling --- */
.task-form-container {
  margin-left: 4rem;
  margin-right: 4rem; }

.task-list {
  margin: 4rem 4rem 0rem 4rem; }
  .task-list li {
    background-color: #374151;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border: none;
    list-style: none;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 15px; }
    .task-list li:focus {
      box-shadow: 0 0 0 0.2rem #34D399; }
  .task-list li > * {
    display: inline; }
  .task-list i {
    cursor: pointer;
    padding: .5rem;
    color: #EF4444;
    float: right; }

.task-list-item:hover {
  background: #5a677c;
  transition: 0.3s; }

.task-list-item:hover input ~ .radio-custom {
  background: #5a677c; }

.task-list-item:hover input:checked ~ .radio-custom {
  background: #34D399; }

/* --- MEDIA QUERIES --- */
@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 40px; }
  .task-list li {
    font-size: 18px; } }

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 36px; }
  .task-form-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .task-list {
    margin: 2.5rem 0 0 0; }
    .task-list li {
      padding: .5rem 1rem; }
    .task-list label {
      vertical-align: -webkit-baseline-middle; }
    .task-list p {
      vertical-align: -webkit-baseline-middle; }
  .radio-container {
    font-size: 16px;
    padding-left: 30px; }
  .radio-custom {
    height: 18px;
    width: 18px;
    border: solid 2px #34D399; }
  .form-text-input {
    font-size: 18px; }
    .form-text-input:focus {
      font-size: 18px; }
  .form-btn {
    font-size: 20px;
    margin: 0; } }
